<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_swordman_breath1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,114},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>
			<key>player_swordman_breath2.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,114},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>
			<key>player_swordman_breath3.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,114},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>
			<key>player_swordman_breath4.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,114},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>
			<key>player_swordman_breath5.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,114},{62,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,86}</string>
			</dict>
			<key>player_swordman_run1.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_run2.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,0},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_run3.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,78},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_run4.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,93},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_run5.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,114},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_run6.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,114},{93,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>
			<key>player_swordman_fall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_fall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,610},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_jump2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,854},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
			<key>player_swordman_ready2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>player_swordman.png</string>
			<key>realTextureFileName</key>
			<string>player_swordman.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>